integrations/m365/power-automate/compliance-alert-flow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "description": "FineGuard Compliance Alert Flow — Triggers on HTTP POST from Azure Function, parses the payload, and when riskLevel is Critical: sends a Teams message, creates a Planner task, sends an Outlook email, and updates a SharePoint list.",
  "parameters": {
    "teamsTeamId": {
      "type": "String",
      "defaultValue": "<YOUR_TEAMS_TEAM_ID>",
      "metadata": { "description": "Team ID for the compliance channel" }
    },
    "teamsChannelId": {
      "type": "String",
      "defaultValue": "<YOUR_TEAMS_CHANNEL_ID>",
      "metadata": { "description": "Channel ID for compliance alerts" }
    },
    "plannerPlanId": {
      "type": "String",
      "defaultValue": "<YOUR_PLANNER_PLAN_ID>",
      "metadata": { "description": "Planner plan ID for compliance tasks" }
    },
    "plannerBucketId": {
      "type": "String",
      "defaultValue": "<YOUR_PLANNER_BUCKET_ID>",
      "metadata": { "description": "Planner bucket for critical tasks" }
    },
    "notificationEmail": {
      "type": "String",
      "defaultValue": "compliance-team@yourfirm.com",
      "metadata": { "description": "Email recipient for critical alerts" }
    },
    "sharepointSiteUrl": {
      "type": "String",
      "defaultValue": "https://yourfirm.sharepoint.com/sites/compliance",
      "metadata": { "description": "SharePoint site URL" }
    },
    "sharepointListName": {
      "type": "String",
      "defaultValue": "Compliance Events",
      "metadata": { "description": "SharePoint list name for event logging" }
    }
  },
  "triggers": {
    "When_FineGuard_sends_a_webhook": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "method": "POST",
        "schema": {
          "type": "object",
          "required": ["eventType", "firmId", "timestamp"],
          "properties": {
            "eventType": { "type": "string" },
            "firmId": { "type": "string" },
            "firmName": { "type": "string" },
            "riskLevel": { "type": "string" },
            "title": { "type": "string" },
            "description": { "type": "string" },
            "dueDate": { "type": "string" },
            "assignedTo": { "type": "string" },
            "timestamp": { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Parse_Webhook_Payload": {
      "type": "ParseJson",
      "runAfter": {},
      "inputs": {
        "content": "@triggerBody()",
        "schema": {
          "type": "object",
          "required": ["eventType", "firmId", "timestamp"],
          "properties": {
            "eventType": { "type": "string" },
            "firmId": { "type": "string" },
            "firmName": { "type": "string" },
            "riskLevel": { "type": "string" },
            "title": { "type": "string" },
            "description": { "type": "string" },
            "dueDate": { "type": "string" },
            "assignedTo": { "type": "string" },
            "timestamp": { "type": "string" }
          }
        }
      }
    },

    "Log_All_Events_to_SharePoint": {
      "type": "ApiConnection",
      "runAfter": { "Parse_Webhook_Payload": ["Succeeded"] },
      "inputs": {
        "host": {
          "connection": { "name": "@parameters('$connections')['sharepointonline']['connectionId']" }
        },
        "method": "post",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointListName')))}/items",
        "body": {
          "Title": "@body('Parse_Webhook_Payload')?['title']",
          "EventType": "@body('Parse_Webhook_Payload')?['eventType']",
          "FirmId": "@body('Parse_Webhook_Payload')?['firmId']",
          "FirmName": "@body('Parse_Webhook_Payload')?['firmName']",
          "RiskLevel": "@body('Parse_Webhook_Payload')?['riskLevel']",
          "Description": "@body('Parse_Webhook_Payload')?['description']",
          "DueDate": "@body('Parse_Webhook_Payload')?['dueDate']",
          "AssignedTo": "@body('Parse_Webhook_Payload')?['assignedTo']",
          "ReceivedAt": "@body('Parse_Webhook_Payload')?['timestamp']"
        }
      }
    },

    "Check_if_Critical": {
      "type": "If",
      "runAfter": { "Log_All_Events_to_SharePoint": ["Succeeded"] },
      "expression": {
        "and": [
          {
            "equals": [
              "@body('Parse_Webhook_Payload')?['riskLevel']",
              "Critical"
            ]
          }
        ]
      },
      "actions": {
        "Send_Teams_Alert_Message": {
          "type": "ApiConnection",
          "runAfter": {},
          "inputs": {
            "host": {
              "connection": { "name": "@parameters('$connections')['teams']['connectionId']" }
            },
            "method": "post",
            "path": "/v3/beta/teams/@{encodeURIComponent(parameters('teamsTeamId'))}/channels/@{encodeURIComponent(parameters('teamsChannelId'))}/messages",
            "body": {
              "body": {
                "contentType": "html",
                "content": "<h2>🔴 CRITICAL Compliance Alert</h2><p><strong>@{body('Parse_Webhook_Payload')?['title']}</strong></p><p>@{body('Parse_Webhook_Payload')?['description']}</p><table><tr><td><strong>Firm:</strong></td><td>@{body('Parse_Webhook_Payload')?['firmName']}</td></tr><tr><td><strong>Due:</strong></td><td>@{body('Parse_Webhook_Payload')?['dueDate']}</td></tr><tr><td><strong>Assigned:</strong></td><td>@{body('Parse_Webhook_Payload')?['assignedTo']}</td></tr></table>"
              },
              "importance": "urgent"
            }
          }
        },

        "Create_Planner_Task": {
          "type": "ApiConnection",
          "runAfter": { "Parse_Webhook_Payload": ["Succeeded"] },
          "inputs": {
            "host": {
              "connection": { "name": "@parameters('$connections')['planner']['connectionId']" }
            },
            "method": "post",
            "path": "/v1.0/planner/tasks",
            "body": {
              "planId": "@parameters('plannerPlanId')",
              "bucketId": "@parameters('plannerBucketId')",
              "title": "[CRITICAL] @{body('Parse_Webhook_Payload')?['title']} — @{body('Parse_Webhook_Payload')?['firmName']}",
              "dueDateTime": "@body('Parse_Webhook_Payload')?['dueDate']"
            }
          }
        },

        "Send_Outlook_Email": {
          "type": "ApiConnection",
          "runAfter": { "Parse_Webhook_Payload": ["Succeeded"] },
          "inputs": {
            "host": {
              "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
            },
            "method": "post",
            "path": "/v2/Mail",
            "body": {
              "To": "@parameters('notificationEmail')",
              "Subject": "🔴 [FineGuard CRITICAL] @{body('Parse_Webhook_Payload')?['title']}",
              "Body": "<h2>Critical Compliance Alert</h2><p><strong>@{body('Parse_Webhook_Payload')?['title']}</strong></p><p>@{body('Parse_Webhook_Payload')?['description']}</p><p><strong>Firm:</strong> @{body('Parse_Webhook_Payload')?['firmName']}<br/><strong>Risk Level:</strong> Critical<br/><strong>Due Date:</strong> @{body('Parse_Webhook_Payload')?['dueDate']}<br/><strong>Assigned To:</strong> @{body('Parse_Webhook_Payload')?['assignedTo']}</p><p><a href='https://app.fineguard.io/events/@{body('Parse_Webhook_Payload')?['eventType']}'>View in FineGuard</a></p>",
              "Importance": "High",
              "IsHtml": true
            }
          }
        },

        "Update_SharePoint_Status": {
          "type": "ApiConnection",
          "runAfter": {
            "Send_Teams_Alert_Message": ["Succeeded"],
            "Create_Planner_Task": ["Succeeded"],
            "Send_Outlook_Email": ["Succeeded"]
          },
          "inputs": {
            "host": {
              "connection": { "name": "@parameters('$connections')['sharepointonline']['connectionId']" }
            },
            "method": "patch",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointListName')))}/items/@{body('Log_All_Events_to_SharePoint')?['ID']}",
            "body": {
              "AlertsSent": true,
              "TeamsNotified": true,
              "PlannerTaskCreated": true,
              "EmailSent": true,
              "ProcessedAt": "@{utcNow()}"
            }
          }
        }
      },
      "else": {
        "actions": {
          "Log_Non_Critical_Processed": {
            "type": "Compose",
            "runAfter": {},
            "inputs": "Non-critical event @{body('Parse_Webhook_Payload')?['eventType']} for firm @{body('Parse_Webhook_Payload')?['firmId']} logged to SharePoint."
          }
        }
      }
    },

    "Return_Success_Response": {
      "type": "Response",
      "runAfter": { "Check_if_Critical": ["Succeeded"] },
      "inputs": {
        "statusCode": 200,
        "headers": { "Content-Type": "application/json" },
        "body": {
          "success": true,
          "message": "Event processed successfully",
          "riskLevel": "@body('Parse_Webhook_Payload')?['riskLevel']",
          "criticalFlowTriggered": "@equals(body('Parse_Webhook_Payload')?['riskLevel'], 'Critical')"
        }
      }
    }
  },
  "outputs": {}
}
